* {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.camera {
  position: relative;
  background-color: aliceblue;
  max-width: 640px;
  min-height: 480px;
  width: 90%;
  height: 90%;
  border-radius: 10px;

  padding: 20px 20px 50px 20px;
  margin: 20px auto 20px auto;
}

.camera--main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  width: 90%;
  border-radius: 10px;
}

.camera--loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0;
}