#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.camera {
  position: relative;
  background-color: aliceblue;
  width: 640px;
  height: 480px;
  border-radius: 10px;
  margin: 10px;
}

.camera--main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(-1);
  z-index: 9;
  width: 90%;
  height: 90%;
  border-radius: 10px;
}

